[Unit]
Description=Run Oracle DPA Repository Sampler every minute (%i)

[Timer]
OnBootSec=2m
OnUnitActiveSec=60s
AccuracySec=10s
Persistent=true
Unit=dpa_sampler@%i.service

[Install]
WantedBy=timers.target
