[Unit]
Description=Node Exporter
After=network-online.target
Wants=network-online.target

[Service]
User=monitoring
Group=monitoring
Type=simple
EnvironmentFile=/monitoring/exporters/node/node_exporter.env

ExecStart=/monitoring/exporters/node/node_exporter \
  --web.listen-address=${NODE_EXPORTER_WEB_LISTEN_ADDRESS} \
  --web.max-requests=${NODE_EXPORTER_WEB_MAX_REQUESTS} \
  --log.level=${NODE_EXPORTER_LOG_LEVEL} \
  --collector.filesystem.mount-points-exclude=${NODE_EXPORTER_FILESYSTEM_MOUNT_POINTS_EXCLUDE} \
  --collector.filesystem.fs-types-exclude=${NODE_EXPORTER_FILESYSTEM_FS_TYPES_EXCLUDE}

Restart=always
RestartSec=5
LimitNOFILE=65536
LimitNPROC=65536
TimeoutStopSec=60
KillSignal=SIGTERM

StandardOutput=append:/monitoring/logs/exporters/node_exporter.log
StandardError=append:/monitoring/logs/exporters/node_exporter-error.log

NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
ReadWritePaths=/monitoring/exporters/node /monitoring/logs/exporters

[Install]
WantedBy=multi-user.target
