[Unit]
Description=Oracle DB Exporter
After=network-online.target
Wants=network-online.target

[Service]
User=monitoring
Group=monitoring
Type=simple

EnvironmentFile=/monitoring/exporters/oracle/oracle_exporter.env

ExecStart=/monitoring/exporters/oracle/oracledb_exporter \
  --web.listen-address=${ORACLE_EXPORTER_WEB_LISTEN_ADDRESS} \
  --web.telemetry-path=${ORACLE_EXPORTER_TELEMETRY_PATH} \
  --log.level=${ORACLE_EXPORTER_LOG_LEVEL} \
  --default.metrics=/monitoring/exporters/oracle/oracle-metrics.toml

Restart=always
RestartSec=5
LimitNOFILE=65536
LimitNPROC=65536
TimeoutStopSec=60
KillSignal=SIGTERM

StandardOutput=append:/monitoring/logs/exporters/oracle_exporter.log
StandardError=append:/monitoring/logs/exporters/oracle_exporter-error.log

NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
ReadWritePaths=/monitoring/exporters/oracle /monitoring/logs/exporters

[Install]
WantedBy=multi-user.target
