# Monitoring Platform Ports

PROMETHEUS_PORT=9090
VICTORIAMETRICS_PORT=8428
GRAFANA_PORT=3000
ALERTMANAGER_PORT=9093

NODE_EXPORTER_PORT=9100
ORACLE_EXPORTER_PORT=9161
MSSQL_EXPORTER_PORT=9182
POSTGRES_EXPORTER_PORT=9187
MONGODB_EXPORTER_PORT=9216
